CIDATA/img/*
!CIDATA/img/.gitkeep
!CIDATA/img/meta-data
!CIDATA/img/network-config
!CIDATA/img/user-data
!CIDATA/img/vendor-data
!CIDATA/img/install
CIDATA/img/install/*
!CIDATA/img/install/pxe
!CIDATA/img/install/.gitkeep
!CIDATA/img/per-boot
CIDATA/img/per-boot/*
!CIDATA/img/per-boot/.gitkeep
!CIDATA/img/per-instance
CIDATA/img/per-instance/*
!CIDATA/img/per-instance/.gitkeep
!CIDATA/img/per-once
CIDATA/img/per-once/*
!CIDATA/img/per-once/.gitkeep
output/
*.qcow2
*.tar.xz
*.iso
