CIDATA/img/*
!CIDATA/img/.gitkeep
!CIDATA/img/meta-data
!CIDATA/img/network-config
!CIDATA/img/user-data
!CIDATA/img/vendor-data
!CIDATA/img/install
CIDATA/img/install/*
!CIDATA/img/install/.gitkeep
!CIDATA/img/install/20_graphical_arch.sh
output/
*.qcow2
*.tar.xz
*.iso
